{% extends "Airlineapp/base.html" %}

{% block body %}
    <h1>Edit flight</h1><br>
    <div class="card w-50">
        <div class="card-body">
            <form action="" method="POST">
                {{ flight_form.non_field_errors }}
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">{{ flight_form.aircraft.label_tag }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ flight_form.aircraft }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">{{ flight_form.dispatcher.label_tag }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ flight_form.dispatcher }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">{{ flight_form.dpt_airport.label_tag }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ flight_form.dpt_airport }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">{{ flight_form.dst_airport.label_tag }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ flight_form.dst_airport }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">{{ flight_form.dpt_time.label_tag }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ flight_form.dpt_time }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">{{ flight_form.dst_time.label_tag }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ flight_form.dst_time }}
                    </div>
                </div>

                <div class="row">
                <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                        <a class="btn btn-danger" href="{% url 'flights' %}">Cancel</a>
                        <input type="submit" class="btn btn-primary px-4" name="Submit" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}