{% extends "Airlineapp/base.html" %}

{% block body %}
    <div style="width: 100%;margin: 0px auto;padding: 0px;display: flex;margin-top: 3em">
        <div class="left" style="width: 40%;border: 1px black solid;padding: 2em 0em;font-size: 1.2rem">
            <ul style="list-style-type: none;line-height: 2.5rem;">
                <li class="mb-2" style="font-size: 1.5rem"><strong>Airport:</strong>  {{ flight.dpt_airport.name }}</li>
                <li class="mb-2" style="font-size: 1.5rem"><strong>Airport code:</strong>  {{ flight.dpt_airport.icao }}</li>
                <li class="mb-2" style="font-size: 1.5rem"><strong>Departure time:</strong> {{ flight.dpt_time|date:'d/M/Y H:m' }}</li>
            </ul>
        </div>
        <div class="mid" style="width: 20%;text-align: center;padding: 1em">
            <span style="font-size: 2rem"><strong>Flight number: {{ flight.flight_id }}</strong></span><br>
            <span style="font-size: 5rem">&#10154;</span><br>
            <span style="font-size: 1.5rem">{{ flight.aircraft }}</span>
        </div>
        <div class="right" style="width: 40%;border: 1px black solid;padding: 2em 0em;font-size: 1.2rem">
            <ul style="list-style-type: none;line-height: 2.5rem">
                <li class="mb-2" style="font-size: 1.5rem"><strong>Airport:</strong> {{ flight.dst_airport.name }}</li>
                <li class="mb-2" style="font-size: 1.5rem"><strong>Airport code:</strong> {{ flight.dst_airport.icao }}</li>
                <li class="mb-2" style="font-size: 1.5rem"><strong>Departure time:</strong> {{ flight.dst_time|date:'d/M/Y H:m' }}</li>
            </ul>
        </div>
    </div>

    <br>
    <div style="width: 100%;margin: 0px auto;padding: 0px;display: flex">
        <div class="left" style="width: 40%;font-size: 1.2rem">
            <a class="btn btn-lg btn-info" href="{% url 'edit_flight' flight.flight_id %}">Edit</a>
            <a class="btn btn-lg btn-danger" href="{% url 'delete_flight' flight.flight_id %}">Delete</a>
        </div>
        <div class="mid" style="width: 20%;text-align: center;">
            <a class="btn btn-lg btn-success" href="{% url 'flight_passengers' flight.flight_id %}">Passengers</a>
        </div>
    </div>

{% endblock %}